APP_DOMAIN=https://mcp.site.com #CHANGE
POSTGRES_PASSWORD=mcpnet #CHANGE
JWT_SECRET_KEY=my-test-key #CHANGE
PLATFORM_ADMIN_EMAIL=admin@example.com #CHANGE
PLATFORM_ADMIN_PASSWORD=changeme #CHANGE
PLATFORM_ADMIN_FULL_NAME=Administrator #CHANGE
AUTH_ENCRYPTION_SECRET=my-test-salt #CHANGE

PORT=4444
ENVIRONMENT=production
POSTGRES_USER=mcpnet
POSTGRES_DB=mcpnet
CACHE_TYPE=redis
REDIS_URL=redis://redis:6379/0
CACHE_PREFIX=mcpgw:
DOCS_ALLOW_BASIC_AUTH=false
JWT_ALGORITHM=HS256
JWT_AUDIENCE=mcpgateway-api
JWT_ISSUER=mcpgateway
JWT_AUDIENCE_VERIFICATION=true
EMAIL_AUTH_ENABLED=true
MCP_CLIENT_AUTH_ENABLED=true
TRUST_PROXY_AUTH=false
PROXY_USER_HEADER=X-Authenticated-User
SECURITY_HEADERS_ENABLED=true
CORS_ALLOW_CREDENTIALS=true
REQUIRE_TOKEN_EXPIRATION=false
AUTO_CREATE_PERSONAL_TEAMS=true
MCPGATEWAY_UI_ENABLED=true
MCPGATEWAY_ADMIN_API_ENABLED=true
MCPGATEWAY_BULK_IMPORT_ENABLED=true
MCPGATEWAY_A2A_ENABLED=true
MCPGATEWAY_A2A_METRICS_ENABLED=true
MCPGATEWAY_CATALOG_ENABLED=true
MCPGATEWAY_CATALOG_FILE=mcp-catalog.yml

