POSTGRES_USER=prefect
POSTGRES_PASSWORD=change
POSTGRES_DB=prefect

PREFECT_UI_URL=https://pref.site.com
PREFECT_UI_API_URL=${PREFECT_UI_URL}/api
PREFECT_SERVER_API_CORS_ALLOWED_ORIGINS=${PREFECT_UI_URL}

PREFECT_API_KEY=changeme
PREFECT_EXPERIMENTAL_WARN=false
PREFECT_EXPERIMENTAL_ENABLE_SCHEDULE_CONCURRENCY=false
PREFECT_RUNNER_SERVER_ENABLE=false
PREFECT_API_URL=http://prefect:4200/api
DEFAULT_POOL_NAME=default
DEFAULT_POOL_LIMIT=1
DEFAULT_WORKER_NAME=worker1