DOMAIN=https://vw.domain.tld
SENDS_ALLOWED=true

# SIGNUPS_ALLOWED=true
# SIGNUPS_VERIFY=false
ORG_CREATION_USERS=admin1@example.com,admin2@example.com
IP_HEADER=X-Real-IP
ICON_SERVICE=internal
LOG_LEVEL=info

# echo -n "changeme" | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4
# use $$ instead of $
ADMIN_TOKEN=$$argon2id$$v=19$$m=65540,t=3,p=4$$V3NkUWhnR

SMTP_HOST=smtp.domain.tld
SMTP_FROM=vaultwarden@domain.tld
SMTP_FROM_NAME=Vaultwarden
SMTP_USERNAME=username
SMTP_PASSWORD=password
SMTP_TIMEOUT=15
SMTP_SECURITY=force_tls
SMTP_PORT=465
SMTP_AUTH_MECHANISM=Login

