DD_VERSION=3.1.100-alpine
NGINX_METRICS_ENABLED=false
DD_UWSGI_HOST=uwsgi
DD_UWSGI_PORT=3031
DD_DEBUG=False
DD_DJANGO_METRICS_ENABLED=False
DD_CELERY_BROKER_URL=redis://valkey:6379/0
DD_SECRET_KEY=dd-secret-key
DD_CREDENTIAL_AES_256_KEY=aes-256-key
DD_DATABASE_READINESS_TIMEOUT=30
DD_ADMIN_USER=admin
DD_ADMIN_MAIL=admin@example.com
DD_ADMIN_FIRST_NAME=firstname
DD_ADMIN_LAST_NAME=lastname
DD_INITIALIZE=true
DD_DATABASE_READINESS_TIMEOUT=30
DD_DATABASE_PASSWORD=changeme