POSTGRES_PASSWORD=changeme
POSTGRES_USER=glitchtip
POSTGRES_DB=glitchtip
SECRET_KEY=any_random_string
GLITCHTIP_DOMAIN=https://glitch.site.com
EMAIL_URL=smtps://site%40site.com:yourpassword@smtp.site.com:465
DEFAULT_FROM_EMAIL=site@site.com
GLITCHTIP_MAX_EVENT_LIFE_DAYS=30
GLITCHTIP_MAX_TRANSACTION_EVENT_LIFE_DAYS=30
GLITCHTIP_MAX_FILE_LIFE_DAYS=60
REDIS_URL=redis://redis:6379/0
CELERY_WORKER_MAX_TASKS_PER_CHILD=10000
CELERY_WORKER_AUTOSCALE=1,3
ENABLE_USER_REGISTRATION=True

# For Django SuperAdmin use : `./manage.py createsuperuser` Then go to /admin/ and log in.